{% extends "base.html" %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/birdshop657/birdshop657.css' %}" >
{% endblock extra_head %}

{% block content %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
<div class="content ">
    <section class="birdshop657 cancel">
        <h1>Try again?</h1>
        <p>Forgot to add something to your cart? <a href="{% url 'landing' %}">Try again!</a></p>
    </section>
</div>

<script src="{% static 'js/birdshop657/birdshop657.js' %}" async=""></script>
{% endblock %}
